@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Code+Pro&display=swap');

/* Fonts
    font-family: 'Merriweather', serif;
    font-family: 'Source Code Pro', monospace;
*/


/* Generic */
* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: var(--base-font);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #636940;
    --secondary-color: #cde7b0;
    -tri-colors: #6b9ac4;
    
    --text-color: #333333;
    --text-color-light: #fff;

    --headline-font: 'Source Code Pro', monospace;
    --base-font: 'Merriweather', serif;
}

.wrapper {
    height: 100vh;
    max-height: 100%;
    width: 100%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headline-font);
}

/* Header */
header {
    display: flex;
    flex-direction: column;
}

header h1 {
    padding: 1.5rem 1rem;
}

header h1 a {
    text-decoration: none;
    font-family: var(--headline-font);
}

/* Nav */
.naven {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--main-color);
    position: relative;
    z-index: 99;
    height: 5rem;
}

.inner_nav {
    display: flex;
    justify-content: space-between;
    flex: 0 1 60rem;

    margin: auto;
}

.inner_nav > * {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 1rem;
    width: 20rem;
    font-size: 1.1rem;
}

.inner_nav > .search input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.4rem;
    border-radius: 5px;
    border: none;
}

.inner_nav > .search input:focus {
    outline: var(--secondary-color) 2px solid;
}

.inner_nav > .nav1 a, .inner_nav > .nav2 a{
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-family: var(--headline-font);
}

/* Introduktion */
.introduction {
    display: flex;
    justify-content: center;

    height: 70vh;
}

.introduction .intro_img {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40rem;
}

.introduction > * {
    width: 50%;
    height: 100%;
    margin: 0 2rem;
}

.introduction .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.774);

    margin-top: 10%;
    border-radius: 1rem;
    margin-right: 3rem;
    padding: 1rem;
}

.welcome .info {
    font-size: 1.6rem;
    padding: 1rem;
}

.welcome h1 {
    font-size: 4rem;
    text-align: center;
}

.welcome h1 > * {
    font-family: var(--headline-font);
    letter-spacing: 1rem;
}

.introduction .signup {
    margin: 0.3rem 0;
}

.introduction .signup input {
    border: 2px rgb(155, 155, 155) solid;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 0.5rem;
}

.introduction .signup input[type="submit"] {
    background: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
    margin-left: 1rem;
    
    transition: all 0.1s linear;
}

.introduction .signup input[type="submit"]:hover {
    background: #fff;
    color: #000;
}

/* Main */

.start_main {
    display: flex;
    flex-direction: column;

    max-width: 70rem;
    margin: auto;
}

.start_main .offers_start {
    display: flex;
    justify-content: center;
}

.offers_start .offer {
    display: flex;
    align-items: flex-end;
    
    background: red;
    background-image: url("../img/placeholders/50mm_Whitewood.JPG");
    
    margin: 0 1rem;
    width: 25rem;
    height: 30rem;
    border-radius: 5px;
}

.offers_start .offer .promt {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 7rem;
    background: rgba(51, 51, 51, 0.562);
    padding: 0 1rem;
}

.offers_start .offer .name {
    color: var(--text-color-light);
    font-size: 1.5rem;
    font-family: var(--headline-font);
}

.offer .arrow {
    display: grid;
    place-items: center;

    background: rgba(51, 51, 51, 0.856);
    border: #4b4b4b 2px solid;
    border-radius: 50%;

    width: 4rem;
    height: 4rem;
}

.offer .img-container {
    width: 1.7rem;
}

.offer .img-container img {
    color: #fff;
}


.temp {
    height: 20rem;
}